<header class="    p-1 mb-1 border-bottom  fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9lCv88fVYLJfSEX0sdQAgNqodpD-jKM0CC9wRd8PLTL5i5OUjuR2LAcy7X1j8V8wupmI&usqp=CAU"
                width="60" height="50">
            </a>
            <span href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </span>
            <ul class="nav  col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-dark">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ5abb343fUvp66uV3PJZk0FlqwgFMVDjuWeiCPuxbjac_rcz1D7N0Q6aVHgxXgCzMQUk&usqp=CAU"
                            width="30" height="25">
                        Flights</a></li>
                <li><a href="/" class="nav-link px-2 link-dark">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK5DpMzfkrYqrpcLJ87QpzoBeURvBD3hTDCQ&usqp=CAU"
                            width="30" height="25">
                        Buses</a></li>
                <li><a href="/" class="nav-link px-3 link-dark">
                        <img src="https://cdn.pixabay.com/photo/2019/12/18/05/43/rail-logo-4703155_1280.jpg" width="24"  height="20">
                        Trains</a></li>
                <li><a href="/" class="nav-link px-2 link-dark">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxxafHtLkAzgq3tQojQ67PxLQpaXfT8WbpjQ&usqp=CAU"  width="28" height="20">
                        Hotels</a></li>
            </ul>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCntyn_M-nh0rQLqLLg2pP3T9pB5AYjmU5Q1PrGBfP25UjzFrXxwKFC3SEA3R9bf3Sfxg&usqp=CAU" alt="mdo" width="40" height="38" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">Offers</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <!-- <li><a class="dropdown-item" href="#">Sign in</a></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>