*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid
{
    margin-top: 57px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position:center center;
    height: 80vh;
    background-repeat: no-repeat;
}

.div
{
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
}
.img
{
    background-image: url('../../../assets/Capture.PNG');
    background-repeat: no-repeat; 
    background-size: contain;
    height: 15vh;
    background-position:center center ;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
}