*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid
{
    margin-top: 57px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-repeat: no-repeat;
}

.div
{
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
}