
<div class="container-fluid ">
    <br>
    <div class="div">
        <app-search ></app-search>
    </div>
        <div class="card"  *ngFor="let x of travels" >
            <div class="row" >
                <div class="col">
                    <h4>{{x.bus}}</h4>
                    <h6>{{x.type}}</h6>
                </div>
                <div class="col">
                    <strong>Cost:</strong>
                    <h6 style="color: red;">{{x.cost | currency:'INR'}}</h6>
                </div>
                <div class="col">
                    <button class="btn btn-success p-1">Book Ticket</button><br> 
                    <button class="btn btn-danger p-1 m-1">Term & conditions</button>
                </div>
            </div>
        </div>
    
</div>
