<div class="container-fluid">
    <div class="card" *ngFor="let x of travels">
        <div class="row" >
            <div class="col">
                <h2>{{x.bus}}</h2>
                <h4></h4>
            </div>
            <div class="col">
                <strong>Cost:</strong>
                <h4></h4>
            </div>
            <div class="col">
                <button class="btn btn-success">Book Ticket</button>
                <button class="btn btn-danger">Term & conditions</button>
            </div>
        </div>
    </div>
</div>
