*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid
{
    margin-top: 57px;
    width: 90%;
    margin: 57px auto;

}
.card
{
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 2px grey;
    text-align: center;
}
